			body	{
				background-color: #F1F9FF;
			}

			h1	{
				text-align: center;
				font-family: Arial;
				color: white;
			}
			h2 	{
				text-align: left;
				font-family: Arial;
				color: #8894B2;
				padding-left: 25%;
			}
			label {
				padding-left:25%;
			}
			td    {
				text-align: center;
				font-family: Arial;
				color: #8894B2;
				padding-left: 25%;
			}

			h3 	{
				text-align: left;
				font-family: Arial;
				color: #A100FF;
				padding-left: 25%;
			}
			h4 	{
				text-align: left;
				font-family: Arial;
				color: #8894B2;
				padding-left: 25%;

			}
			h5 	{
				text-align: center;
				font-family: Arial;
				color: #8894B2;
			}
			li 	{
				text-align: left;
				font-family: Arial;
				color: #A100FF;
				font-weight: bold;
			}
			[type="button"] {
 				 background-color: #a100ff; 
 				 border: none;
 				 color: white;
 				 float: right;
 				 display: inline-block;
 				 font-size: 10px;
 				 font-family: Arial;
 				 border-radius: 5px;
			}

			form 	{
				text-align:center;
			}
			.title, .description	{
				float: left;
				padding-left: 25%;
				width: 50%;
				display: flex;
  				flex-direction: column;
			}
			
			.brah {
				font-family: Arial;
				font-weight: bold;
				color: #A100FF;
				float: left;
				padding-left: 25%;
			}
			.submission	{
				text-align: center;
				font-family: Arial;
				color: #A100FF;
			} 
			.image {
				float: left;
				text-align: left;

			}
			.privacy	{
				margin: 0 auto;
				text-align: left;
				font-family: Arial;
				color: #8894B2;
				width: 80%;
			} 

			.buttons 	{
				text-align: center;
				font-family: Arial;
				color: #8894B2;
				width: 80%;
			}
			.textarea {
				
				rows:4;
				cols:40;
			}


			/* for the menu thing */

			body {
  			 font-family: "Arial";
			}

			.sidenav {
 			 height: 100%;
  			 width: 0;
 			 position: fixed;
 			 z-index: 1;
 			 top: 0;
 			 left: 0;
  			 background-color: #a100ff;
  			 overflow-x: hidden;
 			 transition: 0.5s;
 			 padding-top: 60px;
			}

			.sidenav a {
			  padding: 8px 8px 8px 32px;
			  text-decoration: none;
			  font-size: 25px;
			  color: #ffffff;
			  display: block;
			  transition: 0.3s;
			}

			.sidenav a:hover {
			  color: #aa82e5;
			}

			.sidenav .closebtn {
			  position: absolute;
			  top: 0;
			  right: 25px;
 			  font-size: 36px;
			  margin-left: 50px;
			}

			@media screen and (max-height: 450px) {
			  .sidenav {padding-top: 15px;}
			  .sidenav a {font-size: 18px;}